.error {
  padding: 10px;
  background: #f7acac;
  color: #ae1717;
  font-weight: 700;
}

.success {
  padding: 20px;
  background: #c5f8c5;
  color: #115e15;
  font-weight: 700;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 100px auto;
  }

  .col-lg-6 .h3 {
    font-size: 15px; 
    margin-bottom: 10px; 
  }
}

